{{#if posts}}
  {{#each posts as |post|}}
    <section
      class="m-4 bg-yellow-200 p-2 ring-8 ring-yellow-400 text-lg md:text-xl lg:text-3xl"
    >
      <div
        class="flex justify-between bg-yellow-400 text-red-700 ring-8 ring-yellow-400 align-middle mb-4"
      >
        <h2 
        id="title"
        class="text-lg md:text-xl lg:text-2xl">
          <a href="/post/{{post.id}}"> {{post.title}}</a></h2>
        <p class="text-xs self-end md:text-sm font-sans">posted on
          {{format_date createdAt}}
           
         <a href="/api/post/edit/{{post.id}}"><svg id="edit" class="w-5 inline-block ml-2" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
</svg>
</a> 
          <button><svg id="delete" data-id="{{post.id}}" class="w-5 inline-block ml-2" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
</svg>
          </button>
       </p>
      </div>
      <div class="mb-4">
        <p 
          id="content"
          class="text-lg ">
          {{post.post_content}}
        </p>
      </div>
    </section>
     
    
  </div>
  {{/each}}
    <script src="/js/dashboard.js"></script>
{{/if}}
<section class="flex justify-center">
  <a href="/dashboard/new"
    class="bg-yellow-200 p-2 m-2 md-text-xl rounded-xl text-yellow-700 hover:bg-yellow-700 hover:text-white"
  >Create New Post</a>
</section>

